.newForm {
  text-align: left;
  padding: 1em;
  margin-right: 50vw;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}
.inputNewForm {
  background-color: oldlace;
  margin-bottom: .3em;
}

