.newForm {
  text-align: left;
  padding: 1em;
  margin-right: 50vw;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}
.inputNewForm {
  background-color: oldlace;
  margin-bottom: .3em;
}

.createWrapper {
  margin: 2em;
}

.parent {
  background-image: url(https://wallpaperaccess.com/full/1225736.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: none;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-container {
  margin-top: 2em;
  height: 100vh;
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

summary{
  border-style: solid;
  color: black;;
  margin: 2em;
  font-family: 'Kdam Thmor Pro', sans-serif;
  
}
h1{
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: black;
}

h3{
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: black;
}

p{
  color: black;;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.hide {
  display: none;
}

.card-title {
  font-family: 'Kdam Thmor Pro', sans-serif;
}